
= devise_error_messages
.wrapper#main
  = image_tag("sign.jpg" , class: "icatchImage")
  .signContent
    .signLeftContent
      .signLeftContnetTitleTop Revolution
      .signLeftContnetTitleBottom in Voting
      .signLeftContnetText You can get more understandable information of Voting
    .signRightContent
      .signLeftContentImage
      %h2.hello Forget your password?
      %p.greeting
        Don't worry about that.
        %br
        please fill in the blanks, and so you'll got your new password.
      = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
        = devise_error_messages!
        .field#signName
          = f.label :email
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email", class: "field"
        = render "devise/shared/links"
        .actions
          = f.submit "Send me reset password instructions",class: "passSubmit"
